extends base 

block append head 
    link(rel="stylesheet", href="./css/cart.css")

block header 
    include inc/_header

block append head
    script(src="/js/cartMain.js" defer='') 


block content 
    p.heading Your Cart
    section.section-cart
    .shopping-cart
        // Title
        .title Shopping Cart
        each item in cartItems
            .item(data-cartItemId=`${item.id}`)
                .buttons
                    span.delete-btn
                    span.like-btn
                .image
                    img(src=`img/dishes/${item.dish.imageCover}` alt='' class='fullimage')
                .description
                    span=`${item.dish.name}`
                    span=`${item.dish.deliveryTime} Minutes`
                .quantity
                    button.plus-btn(type='button' name='button')
                        img(src='/img/plus.svg' alt='')
                    input(type='text' name='name' value='1')
                    button.minus-btn(type='button' name='button')
                        img(src='/img/minus.svg' alt='')
                .total-price=`₹${item.dish.price}`

        //- <table>
        //-     <thead>
        //-         <tr>
        //-         <th>Name</th>
        //-         <th>Price</th>
        //-         <th>Delivery Time</th>
        //-         <th>Rating</th>
        //-         </tr>
        //-     </thead>
        //-     <tbody>
        //-     each item in cartItems
        //-         th=`${item.dish.name}`
        //-         td=`₹${item.dish.price}`
        //-         td=`${item.dish.deliveryTime} minutes`
        //-         td=`${String(item.dish.ratingsAverage).slice(0,3)}`
        //-         <td><a class='cart-button'>Order</a></td>
        //-         td.a.cart-button.delete(data-cartItemId=`${item.id}` href='#')  Delete
        //-         </tr>
        //-     </tbody>
        //- </table>
