extends base
include inc/_reviewCard

block append head
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="" defer></script>
    link(rel='stylesheet' href='/css/item.css')
    script(src="/js/item.js" defer='') 
    script(src="/js/functions/cart.js" defer='') 
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    //- script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
    //- link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

block append header
    include inc/_header

block content
    .item-container
        .item-card
            .item-shoeBackground
                .item-gradients
                    .item-gradient.second(color='blue')
                    .item-gradient(color='red')
                    .item-gradient(color='green')
                    .item-gradient(color='orange')
                    .item-gradient(color='black')
                img.item-logo(src='/img/favicon.png' alt='')
                a.share(href='#')
                    i.fas.fa-share-alt
                img.item-shoe.item-show(src=`/img/dishes/${dish.imageCover}` alt='' color='blue')
                p.item-rating
                    each star in [1, 2, 3, 4, 5]
                        ion-icon.item-star(name=`star`)
            .item-info
                .item-shoeName
                    div
                        h1.item-big=`${dish.name}`
                        span.item-new=`${String(dish.ratingsAverage).slice(0,3)} / 5 (${dish.ratingsQuantity})`

                    p.item-small=`${dish.foodType} | ${dish.type}`
                    p.item-small=`Delivered In: ${dish.deliveryTime} Minutes`
                .item-description
                    p.item-title About
                    p.item-text=`${dish.summary}`
                .item-size-container
                    p.item-title quantity
                    .item-sizes
                        span.item-size.item-active 1
                        span.item-size 2
                        span.item-size 3
                        span.item-size 4
                        span.item-size 5
                        span.item-size 6
                .size-container
                    p.item-title=`who made ${dish.name}?`
                    .item-chef-details
                        img.item-chef-img(src=`/img/users/${dish.chefs[0].photo}` alt=`Image of ${dish.chefs[0].name}`)
                        span.item-chef-name=`${dish.chefs[0].name.split(' ')[0]}`
                        ion-icon.item-verify(name='checkmark-circle')
                .item-buy-price
                    if user
                        button.item-buy#book-dish(data-dish-id=`${dish.id}`) Order Now!
                    else 
                        a.item-buy(href='/login')
                            | Login to book!
                    h1.item-price=`₹${dish.price}`
                    //- h1.item-price=`₹${Math.floor(dish.price - ((discounts[0].percentDiscount * dish.price) / 100))}`

                    //- <div class="price">
                    //-     <i class="fas fa-dollar-sign"></i>
                    //-     <h1>189.99</h1>
                    //-     </div>
                button.item-buy.addToCart(data-dish=`${dish.id}`)  Add to cart

    section.section-reviews
        p.title Reviews
            .reviews
                each review in dish.reviews
                    +reviewCard(review)
    //- section.section-map
    //-     #map

    
    .container
            .form-admin
                .form-admin-text-box
                    h2.heading-secondary=`Review ${dish.name}`
                    p.form-admin-text Add a new dish to the menu. Please fill all the details properly, before submitting the form ensure everything is correct.
                    form.form-admin--addNewReview.form-admin-form-admin
                        div
                            label(for='review') Review
                            input#review(type='text' placeholder='Enter Review' required='')
                        div
                            label(for='rating') Rating
                            input#rating(type='number' placeholder='120' min=0 max=5 required='')
                        button.btn-add-dish.btn.btn--form-admin#addNewReviewButton(data-dish-id=`${dish.id}`) Add Review
                            //
                                <input type="checkbox" />
                                <input type="number" />
                .form-admin-img-box(role='img' aria-label='Food')
    div#map(data-locations=`${JSON.stringify(dish.availableIn)}`)