head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')


    script(src='https://kit.fontawesome.com/a81368914c.js')
    link(href='https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap' rel='stylesheet')
    link(rel='apple-touch-icon' href='/img/apple.png')
    link(rel='icon' href='/img/favicon1.png')
    link(rel='manifest' href='manifest.webmanifest')

    link(rel='stylesheet' href='/css/item.css')

    title=`Nutriv | ${dish.name}`
    script(type='module' src='https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js')
    //- script(src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js')
    //- link(href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' )


//- include inc/_header


.container
    .card
        .shoeBackground
            .gradients
                .gradient.second(color='blue')
                .gradient(color='red')
                .gradient(color='green')
                .gradient(color='orange')
                .gradient(color='black')
            img.logo(src='/img/favicon.png' alt='')
            a.share(href='#')
                i.fas.fa-share-alt
            img.shoe.show(src='/img/meals/meal-1.jpg' alt='' color='blue')
            p.rating
                ion-icon.star(name='star')
                ion-icon.star(name='star')
                ion-icon.star(name='star')
                ion-icon.star(name='star')
                ion-icon.star(name='star-half')
        .info
            .shoeName
                div
                    p.big=`${dish.name}`
                    span.new=`${dish.ratingsAverage}(${dish.ratingsQuantity})`
                h3.small=`${dish.foodType}`
            .description
                p.title About
                p.text=`${dish.summary}`
            .size-container
                p.title quantity
                .sizes
                    span.size.active 1
                    span.size 2
                    span.size 3
                    span.size 4
                    span.size 5
                    span.size 6
            .size-container
                p.title=`who made ${dish.name}?`
                .chef-details
                    img.chef-img(src=`/img/users/${dish.chefs[0].photo}` alt=`Image of ${dish.chefs[0].name}`)
                    span.chef-name=`${dish.chefs[0].name.split(' ')[0]}`
                    ion-icon.verify(name='checkmark-circle')
                    img.chef-img(src=`/img/users/${dish.chefs[1].photo}` alt=`Image of ${dish.chefs[1].name}`)
                    span.chef-name=`${dish.chefs[1].name.split(' ')[0]}`
                    ion-icon.verify(name='checkmark-circle')
            .buy-price
                a.buy(href='#')
                    i.fas.fa-shopping-cart
                    | Order Now!
                h1.price=`${dish.price}`

                //- <div class="price">
                //-     <i class="fas fa-dollar-sign"></i>
                //-     <h1>189.99</h1>
                //-     </div>
section.section-map
    #map(data-availableIn=`${JSON.stringify(dish.availableIn)}`)
script(src='/js/item.js')
script(src="/js/mapbox.js") 

//- include inc/_footer