extends base

block append head
  link(rel="stylesheet", href="/css/menu.css")
  script(src="/js/menu.js" defer='') 

block append header
  include inc/_header

block content
  section#meals.section-meals
    .container.center-text
      span.subheading Dishes
      h2.heading-secondary
        | Nutriv AI chooses from 1,000,000+ recipes
      form.search-form
        input#search(type="text" class='search-bar' placeholder='Enter dish name')
        button.btn--search Search
    .container.grid.grid--3-cols.margin-bottom-medium
      each dish in dishes
        .meal
          img.menu-logo(src="img/favicon.png", alt="logo")
            //- p.sale-text SALE
          img.meal-img(src=`img/dishes/${dish.imageCover}` alt=`${dish.name}`)
          .meal-content
            .meal-tags
              span.tag.tag--vegetarian=`${dish.foodType}`
            p.meal-title=`${dish.name}`
            ul.meal-attributes
              li.meal-attribute
                // <i class="bi bi-symmetry-vertical meal-icon"></i>
                ion-icon.meal-icon(name='flame-outline')
                span= `Delivery Time: ${dish.deliveryTime} m`

              li.meal-attribute
                ion-icon.meal-icon(name='restaurant-outline')
                span=`${dish.type}`
              li.meal-attribute
                ion-icon.meal-icon(name='star-outline')
                span=`${String(dish.ratingsAverage).slice(0,3)} / 5 (${dish.ratingsQuantity})`
              li.meal-attribute
                ion-icon.meal-icon(name='card')
                span
                  | &#x20B9;
                  strong=`${dish.price}`
            div.buttons
              a.menu-button(href=`menu/${dish.slug}`) View details
              if user
                a.menu-button#book-dish(data-dish-id=`${dish.id}` href='#') Order Now!
              else 
                a.menu-button(href='/login') Login to book!
            a.menu-button.addToCart(href='#' data-dish=`${dish}`) Add to cart